<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>manageAppVersionAndBuildNumber</key>
	<false/>
	<key>method</key>
	<string>app-store-connect</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.parmesh.jellyboy</key>
		<string>jellyboy App Store</string>
	</dict>
	<key>signingCertificate</key>
	<string>369287DD0107982B08AEF2B020E206BDC2A2ADF0</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>7654L3CX5L</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
